<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Login and Registration module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAFFCCEF1EDB61DC0049BA2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFFCD081EDB61DC0049BA2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFFCD131EDB61DD0049BA2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
